<section class='home-section'>
    <h1 class='home-heading'>
        Gamepedia - The Gaming Encyclopedia
    </h1>
    <h2 class='home-subheading'>Gaming News</h2>
    <div class='home-news-container'>
        {{#each news}}
            <article class='home-news-article'>
                <img src='{{image}}' alt='news_img' class='home-news-article-img' />
                <div class='home-news-article-text'>
                    <h3 class='home-news-article-title'>
                        {{title}}
                    </h3>
                    <p class='home-news-article-date'>
                        {{date}}
                    </p>
                    <p class='home-news-article-desc'>
                        {{description}}
                    </p>
                    <a href='{{link}}' class='home-news-article-link' target='_blank'>
                        Read More
                    </a>
                </div>
            </article>
        {{/each}}
    </div>
</section>