<section class='one-discussion-section'>
    <div class='one-discussion-container'>
        <h1>{{discussion.title}}</h1>
        <div class='one-discussion-info'>
            <p class='one-discussion-username'>Created by <strong>{{discussion.creatorUsername}}</strong></p>

            <p class='one-discussion-descr'>{{discussion.description}}</p>

            {{#if isOwner}}
                <div class='last-line-discussion'>
                    <a class='edit-discussion-link' href='/forum/discussions/{{discussion._id}}/edit'><i
                            class='fa-solid fa-pen-to-square'
                        ></i>Edit</a>
                    <p class='one-discussion-date'>{{discussion.date}}</p>
                </div>
            {{else}}
                <div class='last-line-discussion'>
                    <p class='one-discussion-date right'>{{discussion.date}}</p>
                </div>
            {{/if}}

        </div>
    </div>
    <div class='one-discussion-link-container'>

        <a href='/forum'>Back to Forum</a>
    </div>
    <div class='comment-section'>
        <h1 class='comment-section-title'>Comments</h1>
        <div class='comments-container'>
            {{#if comments}}
                {{#each comments}}
                    <div class='comment'>
                        <h2 class='comment-username'>{{creatorId.username}}</h2>
                        <p class='comment-text'>{{description}}</p>
                        <p class='comment-date'>{{date}}</p>
                    </div>
                {{/each}}
            {{else}}
                <h2>There is nothing here</h2>
            {{/if}}
        </div>
    </div>
    {{#if hasUser}}
        <div class='add-comment'>
            <h1 class='comment-section-title'>Post Comment</h1>
            <form action='/forum/discussions/{{discussion._id}}/postComment' method='post'>
                <textarea placeholder='Enter comment here' name='description' cols='50' rows='5'></textarea>
                <button>Post</button>
            </form>
        </div>
    {{/if}}

</section>